* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #c50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* changes below here */

.container {
  display: grid;
  grid-template-rows: 100px 50px 1fr 50px;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  gap: 5px;
}

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  place-items: center;
  gap: max(30px, 8%);
}

.header > .logo {
  text-align: left;
}

.sidebar {
  grid-row: 2 / -2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.nav > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.article .card .title {
  padding: 10px;
}

.footer {
  grid-column: 1 / -1;
}
